<nav>
  <div class="nav-wrapper teal accent-3">
    <a href="/" class="brand-logo Black-text">Welcome to Mae's Cafe</a>
    <ul id="nav-mobile" class="right">
      <li><a href="/apps" class="Black-text">Menu Items</a></li>
      <li><a href="/apps/new" class="Black-text">View Menu</a></li>
    </ul>
  </div>
</nav>
